<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{layout :: layout(~{::title}, ~{::div#content}, 'konsultasi')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Konsultasi</title>
  </head>
  <body>

    <div id="content" class="container mt-8">
      <div class="flex flex-col md:flex-row items-center justify-center">
        <div class="md:w-1/2 mb-4 md:mb-0">
          <img
            src="/img/konsultasi.svg"
            alt="form"
            class="mb-3 mx-auto md:mx-0 md:mr-8"
          />
          <!-- <h1
            class="text-2xl md:text-4xl font-bold mb-2 md:mb-4 text-center md:text-left md:pl-2"
          >
            Isi form pengaduan
          </h1> -->
          <!-- <p
            class="text-sm md:text-base font-italic text-muted text-center md:text-left md:pl-2"
          >
            Mohon isi data di samping dengan <em>lengkap dan valid</em> untuk
            mempermudah tim kami dalam memproses pengaduan anda
          </p> -->
        </div>
    <div
      id="content"
      class="container mx-auto p-8 mt-10 bg-white rounded-md shadow-md max-w-lg"
    >
      <h1 class="text-3xl font-bold mb-6 text-black">Konsultasi</h1>
      <form
        action="mailto:agustptr44@gmail.com"
        method="post"
        enctype="text/plain"
      >
        <label for="feedback" class="block text-sm font-medium text-gray-700"
          >Konsultasi:</label
        >
        <textarea
          id="feedback"
          name="feedback"
          rows="5"
          class="mt-1 p-2 border border-blue-400 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
        ></textarea>

        <div class="mt-4">
          <button
            type="submit"
            class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
          >
            Kirim
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
