<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{layout :: layout(~{::title}, ~{::div#content}, 'pengaduan')}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <title>Pengaduan</title>

    <style>
      .form-control:not(select) {
            padding: 1.5rem 0.5rem;
        }



        .form-control::placeholder {
            color: #ccc;
            font-weight: bold;
            font-size: 0.9rem;
        }

        .form-control:focus {
            box-shadow: none;
        }

        .navbar-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px;
            margin-left: 990px;
        }

        .border-md {
            border-width: 2px;
        }
    </style>
  </head>

  <body class="bg-gray-100">
    <div id="content" class="container mt-8">
      <div class="flex flex-col md:flex-row items-center justify-center">
        <div class="row py-5  align-items-center">
          <div class="col-md-4 pr-lg-5 mb-5">
              <img src="/img/Premium_Vector___Working_woman_presentation-removebg-preview.png" alt="form"
                  class="img-fluid mb-3 width-10 d-md-block">
              <h1>Isi form pengaduan</h1>
              <p class="font-italic text-muted mb-0">Mohon isi data di samping dengan <em>lengkap dan valid</em> untuk
                  mempermudah tim kami dalam memproses pengaduan anda</p>

                  <br>
                            <div class="">
                              <p>Untuk melakukan konsultasi silahkan Pencet tombol Chat di bawah</p>
                            </div>
          </div>

        <!-- Complaint Form -->
        <div class="md:w-1/2">
          <form
            id="pengaduanForm"
            th:action="@{/panda/pengaduan}"
            th:object="${pengaduan}"
            method="post"
            class="bg-white shadow-md rounded-md p-6"
          >
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <!-- nama-->
              <div class="mb-4 col-span-2">
                <label
                  for="nama_lengkap"
                  class="block text-sm font-medium text-gray-700"
                  >Nama Korban</label
                >
                <input
                  id="nama_lengkap"
                  type="text"
                  th:field="*{nama}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                  placeholder="Nama lengkap"
                  
                  required
                />
              </div>

              <!-- alamat -->
              <div class="mb-4 col-span-2">
                <label
                  for="alamat"
                  class="block text-sm font-medium text-gray-700"
                  >Alamat</label
                >
                <input
                  id="alamat"
                  type="text"
                  th:field="*{alamat}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                  placeholder="Alamat"
                  required
                />
              </div>

              <!-- pekerjaan -->
              <div class="mb-4 col-span-2">
                <label
                  for="pekerjaan"
                  class="block text-sm font-medium text-gray-700"
                  >Pekerjaan</label
                >
                <input
                  id="pekerjaan"
                  type="text"
                  th:field="*{pekerjaan}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                  placeholder="Pekerjaan"
                  required
                />
              </div>

              <!-- Pendidikan -->
              <div class="mb-4 col-span-2">
                <label
                  for="Pendidikan"
                  class="block text-sm font-medium text-gray-700"
                  >Pendidikan</label
                >
                <input
                  id="Pendidikan"
                  type="text"
                  th:field="*{pendidikan}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                  placeholder="Pendidikan"
                  required
                />
              </div>

              <!-- TTL -->
              <div class="mb-4 col-span-2">
                <label for="TTL" class="block text-sm font-medium text-gray-700"
                  >Tanggal Kejadian</label
                >
                <input
                  id="TTL"
                  type="date"
                  th:field="*{TTL}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full focus:outline-none focus:ring focus:border-blue-500"
                  required
                />
              </div>

              <!-- aduan -->
              <div class="mb-4 col-span-2">
                <label
                  for="aduan"
                  class="block text-sm font-medium text-gray-700"
                  >Aduan</label
                >
                <textarea
                  id="harapan"
                  th:field="*{aduan}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full h-24 focus:outline-none focus:ring focus:border-blue-500"
                  placeholder="Hal yang anda harapkan"
                  required
                ></textarea>
              </div>

              <!-- harapan -->
              <div class="mb-4 col-span-2">
                <label
                  for="harapan"
                  class="block text-sm font-medium text-gray-700"
                  >Hal yang anda harapkan</label
                >
                <textarea
                  id="harapan"
                  th:field="*{harapan}"
                  class="mt-1 p-2 border border-gray-300 rounded-md w-full h-24 focus:outline-none focus:ring focus:border-blue-500"
                  placeholder="Hal yang anda harapkan"
                  required
                ></textarea>
              </div>

              <!-- Submit button -->
              <div class="form-group col-span-2">
                <button
                  type="submit"
                  class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300"
                  onclick="submitForm()"
                >
                  Kirim
                </button>
                <!-- <button type="button" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300" th:href="@{/riwayatpengduan}"  >Riwyat pengaduan</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Form end -->

  
    <script>
    function submitForm() {
        const form = document.getElementById("pengaduanForm");
        const isEmptyFields = form.querySelectorAll("input:required, textarea:required").some(
          (field) => !field.value.trim()
        );

        if (isEmptyFields) {
          alert("Mohon isi semua field yang diperlukan sebelum mengirim.");
          return; // Prevent form submission
        }

        form.submit();
        alert("Form submitted successfully!");
      }
    </script>
  </body>
</html>